@page
@model KickDrive.Pages.SupervisionRegistradaModel
@{
    ViewData["Title"] = "SupervisionRegistrada";
}

<h1>Supervisión Registrada</h1>

<header>
    <script src="~/js/jspdf.debug.js"></script>
    <script src="~/js/JavaScript1.js"></script>
</header>


<body style="margin-right:50px; background-color:white; margin-left:50px; margin-top:25px; border:double; border-color:crimson;">
    <p>
        <a class="btn btn-primary" asp-page="/RegistroSupervision">Registrar Supervision</a>
    </p>
    <div id="customers">
        <table id="tab_customers" class="table-striped sortable table">
            <colgroup>
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">
                <col style="width:auto">




            </colgroup>
            <thead>
                <tr>
                    <th>Supervisor ID</th>
                    <th>Horario de Supervision</th>
                    <th>Incidentes</th>
                    <th>Ruta</th>
                    <th>Supervisor</th>
                    <th>Informacion de viajes</th>


                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model.ProcesoRevisions)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.SupervisorId)</td>
                    <td>@Html.DisplayFor(modelItem => item.HorarioSupervision)</td>
                    <td>@Html.DisplayFor(modelItem => item.Incidentes)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ruta)</td>
                    <td>@Html.DisplayFor(modelItem => item.Supervisor)</td>
                    <td>@Html.DisplayFor(modelItem => item.InfoViajes)</td>
                    
                </tr>

                }
            </tbody>
        </table>
    </div>

    <div>
        <button style="width : 100px" class="btn btn-success form-control" onclick="javascript:demoFromHTML()">Supervision</button>
    </div>

    @section Scripts{

        <script type="text/javascript">
            function demoFromHTML() {
                var pdf = new jsPDF('l', 'mm', "legal");

                source = $('#customers')[0];


                specialElementHandlers = {

                    '#bypassme': function (element, renderer) {

                        return true
                    }
                };
                margins = {
                    bottom: 10,
                    left: 10,
                    width: 400
                };

                pdf.fromHTML(
                    source,
                    margins.left,
                    margins.top, {
                    'width': margins.width,
                    'elementHandlers': specialElementHandlers
                },
                    function (dispose) {

                        pdf.save('Supervision.pdf');
                    }
                    , margins);
            }
        </script>
    }
    </body>
