@page
@model KickDrive.Pages.VehiculosRegistradosModel
@{
    ViewData["Title"] = "VehiculosRegistrados";
}

<h1>Vehiculos Registrados</h1>

@if (Model.Vehiculos.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().ItemModelNumber)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().NombreProp)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Automovil)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Modelo)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().NumeroMotor)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Placas)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Uso)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Largo)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Alto)</th>
                <th scope="col">@Html.DisplayNameFor(x => x.Vehiculos.FirstOrDefault().Ancho)</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model.Vehiculos)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(m => item.ItemModelNumber)</th>
                    <td>@Html.DisplayFor(m => item.NombreProp)</td>
                    <td>@Html.DisplayFor(m => item.Automovil)</td>
                    <td>@Html.DisplayFor(m => item.Modelo)</td>
                    <td>@Html.DisplayFor(m => item.NumeroMotor)</td>
                    <td>@Html.DisplayFor(m => item.Placas)</td>
                    <td>@Html.DisplayFor(m => item.Uso)</td>
                    <td>@Html.DisplayFor(m => item.Largo)</td>
                    <td>@Html.DisplayFor(m => item.Alto)</td>
                    <td>@Html.DisplayFor(m => item.Ancho)</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Ver mas</button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn btn-success btn-sm" asp-page="./EditarV" asp-route-id="@item.Id">Editar</a>
                                </li>
                                <li>
                                    <a class="btn btn-info btn-sm" asp-page-handler="Detalles">Reporte</a>
                                </li>
                                <li>
                                    
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <body>
        <a class="nav-link text-dark" asp-area="" asp-page="/RegistroVehiculos">Registrar Vehiculos</a>
    </body>

}
else
{
    <div class="border text-center">
        <p>No se encontraron contenedores registrados</p>
    </div>
}

